# MongoDB Atlas Connection URI Template
# Copy this file to .env and configure your secret credentials (.env is gitignored)
SPRING_DATA_MONGODB_URI=mongodb+srv://<username>:<password>@shiftsync-notification.9pknogf.mongodb.net/shiftsync_notifications?retryWrites=true&w=majority&appName=shiftsync-notification
